ASPNETCORE_ENVIRONMENT=Production

POSTGRES_USER=postgres
POSTGRES_PASSWORD=nzAT2016db@Eric!pw
POSTGRES_DB=workshop
POSTGRES_PORT=5437

API_PORT=8013
WEB_PORT=8513

DB_CONN_STRING=Host=db;Port=5432;Database=workshop;Username=postgres;Password=nzAT2016db@Eric!pw
DOCKER_BIN=
CORS_ORIGINS=http://45.114.124.101:8513,http://121.74.243.117:5173

GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REDIRECT_URI=http://45.114.124.101:8013/api/gmail/oauth/callback

XERO_CLIENT_ID=
XERO_CLIENT_SECRET=
XERO_REDIRECT_URI=http://45.114.124.101:8013/api/xero/callback
XERO_SCOPES=offline_access accounting.invoices accounting.payments accounting.settings
XERO_WEBHOOK_SIGNING_KEY=

XERO_PAYMENTS_DEFAULT_ACCOUNT_CODE=
XERO_PAYMENTS_CASH_ACCOUNT_CODE=
XERO_PAYMENTS_EPOST_ACCOUNT_CODE=
XERO_PAYMENTS_BANK_TRANSFER_ACCOUNT_CODE=

IMAGE_OCR_ENABLED=false
GMAIL_SYNC_ENABLED=true
PO_FOLLOW_UP_ENABLED=true
XERO_POLLING_ENABLED=true

GHCR_USERNAME=6186127
GHCR_TOKEN=
