POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=workshop
POSTGRES_PORT=5432

ASPNETCORE_ENVIRONMENT=Production
API_PORT=8080
WEB_PORT=5173

# Example: host= db, port=5432 inside compose
DB_CONN_STRING=Host=db;Port=5432;Database=workshop;Username=postgres;Password=postgres



Gmail__ClientId=128878252141-qk2p5e97nvrfld0f0tnidcg127eklgi9.apps.googleusercontent.com
Gmail__ClientSecret=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
Gmail__RedirectUri=http://45.114.124.101:8013/api/gmail/oauth/callback