node_modules
.env

bin
obj

.DS_Store

.vite
dist
coverage
.cache
.turbo
.next
.vercel
.idea
.vscode
zic8STUb
backend/Workshop.Api/appsettings.Development.json
backend/Workshop.Api/appsettings.Development.json
backend/Workshop.Api/appsettings.json
