node_modules
.env

bin
obj

.DS_Store

.vite
dist
coverage
.cache
.turbo
.next
.vercel
.idea
.vscode
zic8STUb
backend/Workshop.Api/appsettings.Development.json
backend/Workshop.Api/appsettings.Development.json
backend/Workshop.Api/appsettings.json
backend/Workshop.Api/appsettings.json
backend/Workshop.Api/appsettings.json
backend/Workshop.Api/App_Data/gmail-attachments/45cf089179ba_ec756fabd0a0_HONDA-CPO-13058 (1).pdf
backend/Workshop.Api/App_Data/gmail-attachments/45cf089179ba_1a755c11f119_HONDA-CPO-13058 (1).pdf
backend/Workshop.Api/App_Data/gmail-attachments/45cf089179ba_0feb5d6c8336_HONDA-CPO-13058 (1).pdf
backend/Workshop.Api.Tests/Unit/Services/JobInvoicePartsLineItemBuilderTests.cs
